/* base application settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 20px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

html {
    font-size: 10px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

button:focus {
    outline: none;
}

.button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

    background: none;
    border: none;
    color: #FF4F3B;

    background-color: #fff;
    color: #FF4F3B;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 7px;

    font-weight: 500;

    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    cursor: pointer;
}

.button:hover {
    background-color: #FF4F3B;
    color: white;
}

.button:active {
    transform: scale(0.95);
}

.container {
    max-width: 1200px;
    margin: auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.row {
    width: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;

    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* styles for the application UI components */

.header {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    margin-bottom: 20px;
}

.header__logo-link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    text-align: center;

    text-decoration: none;
}

.header__logo {
    width: 40px;
    margin-right: 10px;
}

.header__title {
    margin-right: auto;
    margin-left: 10px;
    font-weight: 300;
    font-size: 2.2rem;
    color: #000;
}

.header__cart {
    text-decoration: none;
    text-transform: none;
    text-align: center;

    margin-left: auto;

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;

    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;

    cursor: pointer;
}

.header__cart:hover {
    background-color: #FF4F3B;
}

.header__cart:active {
    transform: scale(0.95);
}

.main {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 25px;
}

.promo {
    width: 100%;
    padding: 53px 67px;

    border-radius: 10px;
    background-image: url(../images/bgc.png);
    background-position: center right 50px;
    background-repeat: no-repeat;
    background-color: #FF4F3B;
    -webkit-background-size: 300px;
    background-size: 300px;

    color: white;
    box-shadow: 0 6px 24px 0 rgba(67, 86, 100, .2);
}

.promo__text {
    text-align: left;
    max-width: 550px;
}

.promo__title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 3.9rem;
    line-height: 4.6rem;
}

.promo__description {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.8rem;
}

.main__heading {
    margin-top: 20px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
}

.main__title {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.2rem;

    color: #000000;
    margin-right: auto;
}

.main__back {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
}

.main__back:active {
    transform: scale(0.95);
}

.wrapper {
    width: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    -ms-align-items: center;
    align-items: center;

    padding: 10px 0;
}

.footer {
    width: 100%;
    background-color: #1E1E1E;
    padding: 20px 0;
    margin: auto;

    font-size: 2rem;
    text-align: center;
    color: white;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: center;

    -ms-align-items: center;
    align-items: center;

    text-align: center;
}

img {
    fill: red;
}

.footer .header__title {
    color: white;
}

/* adaptive */

@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 940px;
    }

    .promo__title {
        font-size: 3.2rem;
    }

    .promo__description {
        font-size: 1.8rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .promo {
        background-position: center right;
        padding: 30px 40px;
        -webkit-background-size: 200px;
        background-size: 200px;
    }

    .promo__text {
        max-width: 400px;
    }

    .promo__title {
        font-size: 3rem;
    }

    .promo__description {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo__text {
        max-width: 350px;
    }

    .promo {
        background-position: center right;
        -webkit-background-size: 200px;
        background-size: 200px;
    }
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }

    .promo {
        padding: 20px 30px;
        -webkit-background-size: 150px;
        background-size: 150px;
    }

    .promo__text {
        max-width: 220px;
    }

    .promo__title {
        font-size: 2.5rem;
    }

    .promo__description {
        font-size: 1.2rem;
    }
}
