

.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    
    height: 100%;
    
    padding: 20px 0;
    
    -ms-align-items: center;
    align-items: center;
    
    justify-content: center;
}
.card{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    
    justify-content: center;
    
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    
    margin: auto;
    margin: 20px;
    
    text-transform: none;
    
    text-decoration: none;
    
    padding: 20px;
    
    cursor: pointer;
    
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card__img{
    height: 150px;
    object-fit: contain;
    overflow: hidden;
}

.card__title{
    width: 100%;
    color: #333;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10px;
}
